@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    background-color: #023047;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

div > h1, .date, .shortDate {
    font-family: 'Concert One', cursive;
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
}
.shortDate {
    display: none;
}
@media screen and (max-width: 844px) {
    .nav {
        display: block;
        height: 90px;
        text-align: center;
    }
    .shortDate {
        display: block;
    }
    .date {
        display: none;
    }
}